<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Extractor</title>

    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <div class="container">
        <h1 id="title">Information Extractor</h1>
        <div class="ge">
            <h2 class="le">Pilih artikel: </h2>
            <input type="file" id="article">
        </div>
        <div class="ge">
            <h2 class="le">Keyword: </h2>
            <input class="cho" id="keyword" type="text">
        </div>
        <div class="ge">
            <h2 class="le">Pilih artikel: </h2>
            <input class="cho" id="choice1" type="radio" value="1" name="rad">
            <label for="choice1">Boyer-Moore</label> 
            <input class="cho" id="choice2" type="radio" value="2" name="rad">
            <label for="choice2">KMP</label> 
            <input class="cho" id="choice3" type="radio" value="3" name="rad">
            <label for="choice3">Regex</label> 
        </div>
        <button id="enter" onClick="send()">Extract!</button>

        <div id="content">

        </div>
    </div>
</body>
<script>

    function send(){
        var xHttp = new XMLHttpRequest();
        var file = document.getElementById('article').files[0];
        var keyword = document.getElementById('keyword').value;
        var choice = document.querySelector('input[name="rad"]:checked').value;
        var content = new FileReader();
        content.onload = function (e){
            var text = e.target.result;
            text = text.replace(/\//g, ";")
            text = text.replace(/ /g,"$")

            xHttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                document.getElementById("content").innerHTML = xHttp.responseText;
                }
            };
            
            xHttp.open("GET", "getResult/" + choice + '/' + keyword + '/' + text);
            xHttp.send();
            

        }
        content.readAsText(file);
    }
</script>
</html>